Source: ros-lunar-rqt-dep
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python-mock, ros-lunar-catkin
Homepage: http://wiki.ros.org/rqt_dep
Standards-Version: 3.9.2

Package: ros-lunar-rqt-dep
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-lunar-python-qt-binding (>= 0.2.19), ros-lunar-qt-dotgraph, ros-lunar-qt-gui, ros-lunar-qt-gui-py-common, ros-lunar-rqt-graph, ros-lunar-rqt-gui-py
Description: rqt_dep provides a GUI plugin for visualizing the ROS dependency graph.
